@import "../../variables.scss";

.startPage {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 3 1;

    &--title {
      &--text {
        font-family: $font-title;
        color: $color-title;
        font-weight: 900;
      }
      &--line {
        height: 4px;
        width: 100%;
        margin-top: 0.5rem;
        background-color: $color-contrast;
      }
    }

    &--img {
      height: 9rem;
    }
  }

  &__btns {
    display: flex;
    flex: 1 1;
    justify-content: center;
    text-align: center;
    border-radius: 3px;

    font-size: xxx-large;

    &--login {
      margin-bottom: 0.5rem;
    }

    &--guest {
      background-color: $color-contrast;
      text-decoration: none;
      align-items: center;
      width: 80%;
      height: $btn-height;
      justify-content: center;
      display: flex;
      border-radius: 8px;
    }
  }
}
