@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

$color-title: #263959;
$color-text: #6d819c;
$color-contrast: #55967e;
$color-offWhite: #e4e7ec;
$color-red: #a6172d;

$font-title: "Quicksand", sans-serif;
$font-txt: "Raleway", sans-serif;

$btn-height: 2.5rem;
$btn-width: 6rem;
